<div class="w-full max-w-screen-lg text-center mx-auto px-8">
  <h2 class="text-5xl mb-8 text-gray-950" id="info">Praktisk information</h2>
</div>
<div class="w-full max-w-screen-lg mx-auto text-2xl mt-12 px-8">
  <dl class="grid sm:grid-cols-2 gap-x-16 gap-y-12">
    <div>
      <dt class="text-3xl mb-2">Toastmaster</dt>
      <dd class="text-gray-700">
        <p>
          S칮de Heidi V. Nielsen, <a href="tel:40430631" class="underline"
            >40430631</a
          >
        </p>
        <p>Meld ind med indslag senest 24. maj.</p>
      </dd>
    </div>
    <div>
      <dt class="text-3xl mb-2">Dresscode</dt>
      <dd class="text-gray-700">
        <p>Dress to impress, men hold 칮je med vejret 游</p>
        <p>Gem de tynde stiletter til om aftenen 游</p>
      </dd>
    </div>
    <div>
      <dt class="text-3xl mb-2">칒nskeliste</dt>
      <dd class="text-gray-700">
        <p>
          Gaver er ikke n칮dvendigt, men hvis I har lyst til at tage en med
          alligevel er der lidt inspiration p친 <a
            href="erdetfredag.dk"
            class="underline">vores 칮nskesky</a
          >.
        </p>
      </dd>
    </div>
    <div>
      <dt class="text-3xl mb-2">Overnatter du?</dt>
      <dd class="text-gray-700">
        <p>
          S친 giver vi morgenmad og kaffe n칝ste dag. Du skal bare selv s칮rge for
          at have lagen, dyne, hovedpude med.
        </p>
      </dd>
    </div>
    <div>
      <dt class="text-3xl mb-2">Telt eller campingvogn?</dt>
      <dd class="text-gray-700">
        <p>
          Man kan s칝tte sit telt p친 Gr칝s A og sin campingvogn p친 Gr칝s B. Der er
          bad og toilet i hytten og ved Gr칝s A.
        </p>
      </dd>
    </div>
    <div>
      <dt class="text-3xl mb-2">Parkering</dt>
      <dd class="text-gray-700">
        <p>
          Der kan parkeres p친 Gr칝s C. Det er markeret n친r I ankommer til
          omr친det.
        </p>
      </dd>
    </div>
  </dl>
</div>
<div class="flex justify-center">
  <div class="relative inline-flex" id="map">
    <img src="/kort.webp" class="saturate-50" />
    <div
      class="absolute inset-0 bg-gradient-to-r from-[#F2F1ED] via-transparent to-[#F2F1ED]"
    >
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-b from-[#F2F1ED] via-transparent to-[#F2F1ED]"
    >
    </div>
  </div>
</div>
