<div class="grid grid-cols-2 relative text-xl/8">
  <section class="col-start-2 px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -left-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -left-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      13:00 Ankomst
    </h3>
    <p>
      <a href="#info" class="underline">Parkering</a> er markeret ved ankomst og
      man kan gå direkte ned til lunden.
    </p>
  </section>
  <section class="px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -right-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -right-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      13:30 Vielse
    </h3>
    <p>
      Finder sted i lunden mellem hytten og Græs B på <a
        href="#map"
        class="underline">kortet</a
      >.
    </p>
  </section>
  <div></div>
  <div></div>
  <section class="px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -left-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -left-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      14:30–17:00 Reception
    </h3>
    <p>
      Oppe ved hytten vil der være lidt bobler og snacks og ellers fri leg og
      udforskning af området.
    </p>
  </section>
  <section class="px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -right-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -right-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      18:00 Middag
    </h3>
    <p>Sæt jer godt til rette i hyttens store sal og nyd et måltid med os.</p>
  </section>
  <div></div>
  <div></div>
  <section class="px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -left-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -left-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      23:00 Dans og musik
    </h3>
    <p>Vi byder op til dans og vi håber alle vil følge trop 💃</p>
  </section>
  <section class="px-8 pb-8 relative">
    <div class="absolute top-0 bottom-0 -right-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -right-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      02:00 Godnat
    </h3>
    <p>
      Vi lukker og slukker og hopper i kanen i sovesalen. Tusind tak for I vil
      være med.
    </p>
  </section>
</div>
