<div class="grid grid-cols-2 relative text-xl/8">
  <section class="col-start-2 px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -left-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -left-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      13:00 Ankomst
    </h3>
    <p>
      Ved ankomst vil der være markeret <a href="#info" class="underline"
        >parkering</a
      >. Følg den hyggelige sti ned til lunden, hvor vi glæder os til at byde
      jer velkommen til en dag fyldt med kærlighed og smukke øjeblikke.
    </p>
  </section>
  <section class="px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -right-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -right-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      13:30 Vielse
    </h3>
    <p>
      I lunden, mellem hytten og Græs B, siger vi ja til hinanden omgivet af
      naturens ro og jeres varme nærvær. Find stedet på kortet og vær med, når
      vi deler dette særlige øjeblik.
    </p>
  </section>
  <div></div>
  <div></div>
  <section class="px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -left-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -left-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      14:30–17:00 Reception
    </h3>
    <p>
      Efter vielsen samles vi ved hytten, hvor der venter forfriskninger. Nyd
      det forhåbentligt gode vejr med sjove havespil og tid til at nyde
      selskabet.
    </p>
  </section>
  <section class="px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -right-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -right-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      18:00 Middag
    </h3>
    <p>
      Træd ind i hyttens store sal, find jer godt til rette, og nyd et lækkert
      måltid i godt selskab. Vi ser frem til at dele latter, historier og gode
      minder med jer.
    </p>
  </section>
  <div></div>
  <div></div>
  <section class="px-8 pb-16 relative">
    <div class="absolute top-0 bottom-0 -left-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -left-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      23:00 Dans og musik
    </h3>
    <p>
      Når mørket falder på, fylder vi salen med musik og glæde. Vi håber, I vil
      finde danseskoene frem og lade jer rive med på dansegulvet. 💃
    </p>
  </section>
  <section class="px-8 pb-8 relative">
    <div class="absolute top-0 bottom-0 -right-px w-0.5 bg-copy"></div>
    <div
      class="w-3 h-3 border-2 border-copy rounded-full absolute -right-1.5 bg-[#F2F1ED]"
    >
    </div>
    <h3
      class="text-2xl small-caps tracking-wider font-medium mb-8 leading-none -mt-2"
    >
      02:00 Godnat
    </h3>
    <p>
      Når festen er slut, finder vi ro i sovesalen. Tusind tak for, at I vil
      dele denne dag med os. Det betyder alverden!
    </p>
  </section>
</div>
